/*Edita la página.
- Ajuste para que los bordes de la pagina se pongan a 0.*/
*{
    margin: 0;
    padding: 0;
}

/*Edita el body.
- Color de fondo del body.*/
body{
    background: #E5E5E5;
}

/*Display: flex hace que el menú de navegación se coloque al lado del logo de la página.*/
header{
    background: #A4A4A4;
    width: 100%;
    display: flex;
}

/*Caja que contiene el logo de la página en el header. Le pongo un ancho a la caja de 20% y alineo la imagen al centro.*/
#logo_pagina{
    width: 20%;
    text-align: center;
}

/*Le puse un relleno de 1% en la parte de arriba y 2% en la derecha para separar el nav y quede más centrado.*/
nav{
    padding-top: 1%;
    padding-left: 2%;
}

/*Le quita el estilo a la lista.*/
nav ul{
    list-style: none;
}

/*Poniendo float: left hago que el menú se presente en horizontal.*/
nav ul li{
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

/*Display: block coloca correctamente los elementos del menú.*/
nav ul li a {
    display: block;
    margin-left: 10px;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
}

/*Hace que las palabras enlace que forman parte del menú cambien de color a verde con un retardo de 0.5s*/
nav ul li a:hover{
    color: green;
    transition: .5s;
}

/*Con position: absolute evito que aparezca un gran espacio entre "Otros artículos" y "Registrate".
También se le añadió una animacion de opacidad para que tarde 0.5s en abrirse el submenú.*/
.submenu{
    position: absolute;
    background: #A4A4A4;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

/*Con el padding le pongo un relleno al enlace de la lista del submenu
La letra la hago de color blanca.
Le pongo una fuente importada.
Y le quito la decoración de texto.*/
.submenu li a{
    padding: 15px;
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

/*Aquí es donde se hace visible el submenú.*/
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*Aquí hago que los botones se pongan al lado de cada sección del menú. (No hay para el submenú)
Con padding top lo alineo para que quede más centrado.*/
li > .material-symbols-outlined{
    position: absolute;
    padding-top: 1%;
}

/*Alineo todo el contenido del noticiero al centro.
Le pongo una fuente importada.
Le pongo un margen superior del 2% para separarlo del nav.*/
.noticiero{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2%;
}

/*Este está situado debajo del noticiero.
Le reduje el ancho a 90% para que no ocupara toda la pagina.
Y le metí un margen izquierdo del 5% para que se vea centrado.*/
.noticiero hr{
    margin-left: 5%;
    width: 90%;
}


/*Desde este punto empieza la edición de cada artículo y los botones.*/

/*Esto modifica la caja que contiene el primer artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-1{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 3.3%;
    margin-left: 2.5%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion1;
    animation-duration: 4s;
    
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-1 img{
    width: 100%;
    border-radius: 5px;
}


/*Esto modifica la caja que contiene el segundo artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-2{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 3.3%;
    margin-left: 35%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion2;
    animation-duration: 4s;
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-2 img{
    width: 100%;
    border-radius: 5px;
}


/*Esto modifica la caja que contiene el tercer artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-3{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 3.3%;
    margin-left: 67.5%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion3;
    animation-duration: 4s;
    
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-3 img{
    width: 100%;
    border-radius: 5px;
}


/*Esto modifica la caja que contiene el cuarto artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-4{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 39%;
    margin-left: 2.5%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion1;
    animation-duration: 4s;
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-4 img{
    width: 100%;
    border-radius: 5px;
}


/*Esto modifica la caja que contiene el quinto artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-5{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 39%;
    margin-left: 35%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion2;
    animation-duration: 4s;
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-5 img{
    width: 100%;
    border-radius: 5px;
}


/*Esto modifica la caja que contiene el sexto artículo.
- Tiene un position absolute para que mantenga su posición.
- Le puse un fondo blanco.
- Le puse 5px al borde para que no se vea punteado.
- El width indica el ancho que ocupará el artículo en la página.
- El height indica qué tan alto será el artículo en la pagina.
- El margin top separa el artículo de la clase noticiero.
- Le importé una fuente externa para que se vea mejor.
- Y le añadí una animación con una transición de 4 segundos que es explicada más abajo.*/
.articulo-6{
    position: absolute;
    background: #FFF;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    margin-top: 39%;
    margin-left: 67.5%;
    font-family: 'Open Sans', sans-serif;
    animation-name: animacion3;
    animation-duration: 4s;
}

/*Hace que la imagen ocupe el 100% de ancho de la caja del artículo.
Y le puse 5px de borde para que también se vea redondeado y no punteado.*/
.articulo-6 img{
    width: 100%;
    border-radius: 5px;
}

/*Hace que el título de todos los artículos se ponga de color negro.
Y también le puse un relleno de 5px para que no se vea pegado al borde.*/
h2{
    color: black;
    padding: 5px;
}

/* Edita el contexto de todos los artículos.
- Cambia el color de la letra a negro.
- Pone un relleno de 5px para que no se vea pegado al borde.*/
p{
    color: black;
    padding: 5px;
}

/*Edita la caja de la categoría.
- Se separa del borde y del contenido con el padding de 10px.
- Display: flex hace que el enlace de la categoría se ponga al lado del texto.*/
.categoria{
    padding: 10px;
    display: flex;
}

/*Esto edita el enlace de la categoría.
- Le quito la decoración de texto al enlace.
- Lo pongo de color verde.
- Pongo 5px de margen izquierdo para separarlo del texto.
- Y le pongo un peso o anchura de 600 a la letra.
*/
.categoria a{
    text-decoration: none;
    color: darkgreen;
    margin-left: 5px;
    font-weight: 600;
}

/*Esto edita el enlace al mantener pulsado.
- Lo pasa a color rojo.
- Le meto una transición de medio segundo para que cambie de color.*/
.categoria a:hover{
    color: red;
    transition: .5s;
}

/*Esto edita el enlace del contenedor de Leer más.
- Le quita la decoración de texto.
- Le mete un margen de 10px para separarlo del borde.
- Lo pongo de color verde.
- Y le pongo un peso o anchura de 600 a la letra.*/
.leer-mas a{
    text-decoration: none;
    padding: 10px;
    color: darkgreen;
    font-weight: 600;
}

/*Esto edita el enlace al mantener pulsado.
- Lo pasa a color rojo.
- Le meto una transición de medio segundo para que cambie de color.*/
.leer-mas a:hover{
    color: red;
    transition: .5s;
}

/*Esto edita el icono de Leer más.
- Le pongo posicion absolute para que no se mueva.
- Le meto un relleno superior de 1px para ajustarlo a la letra.
- Y le meto un relleno izquierdo de 5px para separarlo de la letra.*/
.leer-mas .material-symbols-outlined{
    position: absolute;
    padding-top: 1px;
    padding-left: 5px;
}

/*Aquí empieza la edición del footer.*/

/*Esto edita todo el contenedor del footer.
- Le pongo un margen superior del 75% para separarlo del header y que se vea bien el contenido.
- El ancho del footer es del 100%.
- Le pongo una fuente importada.
- El fondo del footer se lo pongo de color gris.
- El color de la letra la puse blanca.*/
.pie-pagina{
    margin-top: 75%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #A4A4A4;
    color: #FFF;
}

/*Esto edita el primer grupo del footer (que consta de la imagen y las categorías).
- Aquí hago display flex para que todos los elementos se coloquen en fila.
- Y meto un margen inferior del 2%.*/
.pie-pagina .grupo-1{
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}

/*Esto edita todas las cajas del grupo 1.
- Le pongo un relleno superior del 2%.
- Le pongo un relleno izquierdo del 16%.*/
.pie-pagina .grupo-1 .box{
    padding-top: 2%;
    padding-left: 16%;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.box .categorias ul li{
    margin-top: 2%;
    list-style: none;
}

.box .categorias ul li a{
    color: #FFF;
    text-decoration: none;
}

.box .categorias ul li a:hover{
    color: green;
    transition: .5s;
}

.box div a img{
    height: 45px;
    margin: 10px;
    transition: ease .5s;
}

.box div a img:hover{
    background-color: #c7c7c7;
    border-radius: 5%;
}

.pie-pagina .grupo-2{
    padding: 2%;
    text-align: center;
}

@media screen and (max-width:1800px) {
    .articulo-1, .articulo-2, .articulo-3, .articulo-4, .articulo-5, .articulo-6{
        display: flex;
        flex-direction: column;
        height: 70%;
    }
}

@media screen and (max-width:1650px) {
    section div img{
        display: none;
    }
    .articulo-1, .articulo-2, .articulo-3{
        display: flex;
        flex-direction: column;
        height: 45%;
        margin-top: 5%;
    }
    .articulo-4, .articulo-5, .articulo-6{
        display: flex;
        flex-direction: column;
        height: 45%;
        margin-top: 40%;
    }
}

@media screen and (max-width:1300px){
    .pie-pagina{
        margin-top: 85%;
    }
    .articulo-1, .articulo-2, .articulo-3{
        height: 42%;
        font-size: 10pt;
        margin-top: 7%;
    }
    .articulo-4, .articulo-5, .articulo-6{
        display: flex;
        flex-direction: column;
        height: 47%;
        margin-top: 45%;
    }
}

/*Esta animacion es la encargada de mover los artículos 1 y 4.
Hace un efecto de aparición de derecha a izquierda.*/
@keyframes animacion1 {
    from {margin-left: 100%;}
    to {margin-left: 2.5%;}
}

/*Esta animacion es la encargada de mover los artículos 2 y 5.
Hace un efecto de aparición de derecha a izquierda.*/
@keyframes animacion2 {
    from {margin-left: 100%;}
    to {margin-left: 35%;}
}

/*Esta animacion es la encargada de mover los artículos 3 y 6.
Hace un efecto de aparición de derecha a izquierda.*/
@keyframes animacion3 {
    from {margin-left: 100%;}
    to {margin-left: 67.5%;}
}